<h4>Your Answer:</h4>

<%= form_for [@question, @answer] do |form| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field column large-12">
    <%= form.text_field :body %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
