<%= form_for(@question) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field column large-12">
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: @question.title %>
  </div>
  <div class="field column large-12">
    <%= form.label :description %><br>
    <%= form.text_field :description, placeholder: @question.description %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
